In [1]:
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
        
class MaxLimitCalculator(Calculator):
    def add(self, val):
        self.value += val
        if self.value > 100:
            self.value = 100
            
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기

print(cal.value) # 100을 출력

100

In [6]:
data = [1, -2, 3, -5, 8, -3]

def minus_remove(data):
    for i in data:
        if(i < 0):
            data.remove(i)
            
minus_remove(data)
print(data)

print("----------------------------------")

data = [1, -2, 3, -5, 8, -3]

data = list(filter(lambda x:x>0, data))
            
print(data)

[1, 3, 8]
----------------------------------
[1, 3, 8]

In [10]:
import random
print(random.sample(range(1,46),6))

[29, 11, 28, 1, 41, 31]

In [19]:
def Fibo(n):
    curr, next = 0, 1
    for i in range(n):
        curr, next = next, curr + next
    return curr

def Print_Fibo(n):
    for i in range(n):
        print(Fibo(i))
        
Print_Fibo(10)

0
1
1
2
3
5
8
13
21
34

In [24]:
def DashInsert(data):
    numbers = list(map(int, data))
    result = []

    for i, num in enumerate(numbers):
        result.append(str(num))
        if i < len(numbers)-1:                   
            is_odd = num % 2 == 1                
            is_next_odd = numbers[i+1] % 2 == 1  
            if is_odd and is_next_odd:           
                result.append("-")
            elif not is_odd and not is_next_odd: 
                result.append("*")

    print("".join(result))      
    
DashInsert("4546793")

454*67-9-3

In [32]:
import numpy as np

data = np.loadtxt("Analysis/data/ml-1m/ratings.dat", delimiter="::", dtype=np.int64)

# 문제 1) 사용자별로 평점 평균 구하기. (10명만 출력)
user_ids = np.unique(data[:, 0])

mean_rate_by_user_list = []
for user_id in user_ids:
    rate_for_user = data[data[:, 0] == user_id, 2]
    mean_rate = rate_for_user.mean()
    mean_rate_by_user_list.append([user_id, mean_rate])
    
print(mean_rate_by_user_list[:10])

print("------------------------------------------------------------------------")

# 문제 2) 위의 결과 중에서 최고 평점 평균 구하기. (사용자 아이디와 평점 평균을 같이 구하시오.)

max_userid = mean_rate_by_user_list[0][0]
max = mean_rate_by_user_list[0][1]
for mean_rate_by_user in mean_rate_by_user_list:
    if(max < mean_rate_by_user[1]):
        max = mean_rate_by_user[1]
        max_userid = mean_rate_by_user[0]

print(max_userid, max)

[[1, 4.188679245283019], [2, 3.7131782945736433], [3, 3.9019607843137254], [4, 4.190476190476191], [5, 3.1464646464646466], [6, 3.9014084507042255], [7, 4.32258064516129], [8, 3.884892086330935], [9, 3.7358490566037736], [10, 4.114713216957606]]
------------------------------------------------------------------------
283 4.962962962962963

In [36]:
import pandas as pd

data = {
    "국어" : [80, 90, 70, 30], 
    "영어" : [90, 70, 60, 40], 
    "수학" : [90, 60, 80, 70]
}

idx = ["춘향", "몽룡", "향단", "방자"]
cols = ["국어", "영어", "수학"]
df = pd.DataFrame(data, columns = cols, index = idx)

# 1) 모든 학생의 국어와 영어 점수를 조회하시오.
print(df[["국어" , "영어"]])

print("------------------------------------------")

# 2) 모든 학생의 각 과목평균점수를 새로운 열(과목평균)로 추가하시오.
df["평균점수"] = ((df["국어"] + df["영어"] + df["수학"]) / 3).round(2)
print(df)

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40
------------------------------------------
    국어  영어  수학   평균점수
춘향  80  90  90  86.67
몽룡  90  70  60  73.33
향단  70  60  80  70.00
방자  30  40  70  46.67

In [37]:
# 1) 방자의 영어점수를 80점으로 수정하고 평균점수도 다시 수정하시오.

df["영어"]["방자"] = 80
df["평균점수"] = ((df["국어"] + df["영어"] + df["수학"]) / 3).round(2)
print(df)

print("------------------------------------------")

# 2) 향단의 점수를 Series로 출력하시오
temp = df["향단" : "향단"]
temp_Series = pd.Series(temp.values.tolist()[0], index=temp.columns.values.tolist())
temp_Series.index.name = "향단"
print(temp_Series)

    국어  영어  수학   평균점수
춘향  80  90  90  86.67
몽룡  90  70  60  73.33
향단  70  60  80  70.00
방자  30  80  70  60.00
------------------------------------------
향단
국어      70.0
영어      60.0
수학      80.0
평균점수    70.0
dtype: float64

C:\Users\dbs03\AppData\Local\Temp\ipykernel_11676\2836800117.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["영어"]["방자"] = 80

In [96]:
import re

news = """
(로스앤젤레스=연합뉴스) 옥철 특파원 = 팀 쿡 애플 최고경영자(CEO)가 16일(현지시간) 실리콘밸리 앞
마당 격인 미국 서부 명문 스탠퍼드대학 학위수여식에서 테크기업들을 향해 쓴소리를 쏟아냈다.쿡은 이
날 연설에서 실리콘밸리 테크기업들은 자신들이 만든 혼란에 대한 책임을 질 필요가 있다고 경고했다.
근래 IT 업계의 가장 큰 이슈인 개인정보 침해, 사생활 보호 문제를 콕 집어 라이벌인 구글, 페이스북
등 IT 공룡을 겨냥한 발언이라는 해석이 나왔다.쿡은 "최근 실리콘밸리 산업은 고귀한 혁신과는 점점
더 거리가 멀어지는 것으로 알려져 있다. 책임을 받아들이지 않고도 신뢰를 얻을 수 있다는 그런 믿음
말이다"라고 꼬집었다.개인정보 유출 사건으로 미 의회 청문회에 줄줄이 불려 나간 경쟁사 CEO들을
향해 일침을 가한 것으로 보인다.그는 또 실리콘밸리에서 희대의 사기극을 연출한 바이오벤처 스타트업
테라노스(Theranos)를 직격했다.쿡은 "피 한 방울로 거짓된 기적을 만들 수 있다고 믿었느냐"면서
"이런 식으로 혼돈의 공장을 만든다면 그 책임에서 절대 벗어날 수 없다"라고 비난했다.테라노스는
손가락 끝을 찔러 극미량의 혈액 샘플만 있으면 각종 의학정보 분석은 물론 거의 모든 질병 진단이
가능한 바이오헬스 기술을 개발했다고 속여 월가 큰손들로부터 거액의 투자를 유치했다가 해당 기술이
사기인 것으로 드러나 청산한 기업이다.쿡은 애플의 경우 프라이버시(사생활) 보호에 초점을 맞춘
새로운 제품 기능들로 경쟁사들에 맞서고 있다며 자사의 데이터 보호 정책을 은근히 홍보하기도 했다.
oakchul@yna.co.kr저작권자(c)연합뉴스. 무단전재-재배포금지
"""
p = re.compile(r'([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+(\.[a-zA-Z]{2,4}))')

print(p.search(news))

<re.Match object; span=(779, 796), match='oakchul@yna.co.kr'>

In [82]:
import re

webs = ['http://www.test.co.kr',
        'https://www.test1.com',
        'http://www.test.com',
        'ftp://www.test.com',
        'http:://www.test.com',
      'htp://www.test.com',
      'http://www.google.com',
      'https://www.homepage.com.']

p = re.compile(r'https?://[\w.]+\w+$')
for web in webs:
    print(p.match(web) != None, end=' ')

True True True False False False True False