## 1. 변수(Variable)의 정의
    - 임시 기억(저장) 장소(공간)
    
## 2. 변수의 특징
- 묵시적 선언
- 동적 바인딩
- immutable(불변성)

In [5]:
i = 10
print(i)

i = 11
print(i)

i = "안녕하세요"
print(i)

i = 3.24
print(i)

i = True
print(i)

10
11
안녕하세요
3.24
True

## 3. 데이터 타입

### 종류
1. 기본 자료형
    - int
    - float
    - str
    - bool

2. 집합 자료형
    - list
    - tuple
    - dict
    - set

In [7]:
i = 10
print(type(i))

i = 3.14
print(type(i))

<class 'int'>
<class 'float'>

## (1) str

In [13]:
# 문자열 저장

a = 10
print(type(a))

a = '10'
print(type(a))

a = "안녕하세요"
print(type(a))

a = "제 이름은 '홍길동'입니다."
print(a)

a = "안녕하세요"
a += "제 이름은 홍길동 입니다. "
a += "만나서 반갑습니다."
print(a)

a = """안녕하세요
제 이름은 홍길동 입니다.
만나서 반갑습니다."""
print(a)

<class 'int'>
<class 'str'>
<class 'str'>
제 이름은 '홍길동'입니다.
안녕하세요제 이름은 홍길동 입니다. 만나서 반갑습니다.
안녕하세요
제 이름은 홍길동 입니다.
만나서 반갑습니다.

In [22]:
# 특수문자(제어문자) : \문자, \(escape)

a = "이것은 파이썬입니다. \n열심히 공부합니다."
print(a)

print("\n")

a = "\t는 탭키의 기능이다."
print(a)

print("\n")

a = "\\t는 탭키의 기능이다."
print(a)

이것은 파이썬입니다.
열심히 공부합니다.


	는 탭키의 기능이다.


\t는 탭키의 기능이다.

In [23]:
# 줄바꿈: \를 줄바꿈의 용도로 사용
a = "10 + 2 - 3 + 5 \
+ 6 * 7"
print(a)

10 + 2 - 3 + 5 + 6 * 7

In [25]:
# 문자열 연결
a = "python"
b = " is fun"
c = " and great"
d = a + b + c
print(d)

d = a, b, c
print(d)

python is fun and great
('python', ' is fun', ' and great')

In [26]:
# 문자열 반복
print(a * 3)

pythonpythonpython

In [28]:
# 문자열의 길이
print(len(a))
print(len(b))
print(len(c))

6
7
10

In [36]:
# 인덱싱: 원하는 문자에 접근할 수 있는 방법 제공
a = "Life is too short. You need python"

print(a[0], a[3], a[10], a[11], a[12])
print("----------------------------")
print(a[len(a)-1])
print(a[len(a)-2])
print("----------------------------")
print(a[-1])
print(a[-2])

L e o   s
----------------------------
n
o
----------------------------
n
o

In [45]:
# 슬라이싱(slicing) -> [시작위치 : 끝위치 : 단계(step)]

print(a[0 : 6])
print(a[ : 6])
print(a[6 : ])
print(a[ : ])
print(a[19 : -7])

print("----------------------------")

print(a[ : : 1])
print(a[ : : 2])
print(a[ : : -1])

Life i
Life i
s too short. You need python
Life is too short. You need python
You need
----------------------------
Life is too short. You need python
Lf stosot o edpto
nohtyp deen uoY .trohs oot si efiL

In [47]:
# 수정 불가

a = "pithon"
#a[1] = y #불가

a = a[0] + 'y' + a[2:]
print(a)

python

In [ ]:
# 문자열 포맷팅 : %, format()

# %
print("현재 온도는 18도 입니다.")
print("현재 온도는 %d도 입니다. 그리고 오늘의 날씨는 %s 입니다." % (18, "맑음"))

# 나눗셈의 결과: 3 / 5 = 0.6 입니다.
print("%s의 결과: %d %c %d = %.1f 입니다." % ("나눗셈", 3, '/', 5, 3/5))

print("----------------------------")

# format() 이용하는 방법
print("{}의 결과: {} {} {} = {} 입니다.".format("나눗셈", 3, '/', 5, 3/5))

print("{3}의 결과: {0} {1} {2} = {4} 입니다.".format( 3, '/', 5, "나눗셈", 3/5))

print("{title}의 결과: {num1} {op} {num2} = {result} 입니다.".
      format( num1 = 3, op = '/', num2 = 5, title = "나눗셈", result = 3 / 5 ))

print("{3:10}의 결과: {0} {1} {2} = {4} 입니다.".format( 3, '/', 5, "나눗셈", 3/5))

print("{3:*>10}의 결과: {0} {1} {2} = {4} 입니다.".format( 3, '/', 5, "나눗셈", 3/5))

print("{3:*<10}의 결과: {0} {1} {2} = {4} 입니다.".format( 3, '/', 5, "나눗셈", 3/5))

## (2) Bool|

In [80]:
a = True
print(a)
print(type(a))

print("----------------------------")

print(bool(10), bool(3.14), bool(-2), bool(0))
print(bool('가'), bool('가나다'), bool(' '), bool(''), bool(None))

True
<class 'bool'>
----------------------------
True True True False
True True True False False

## (1) List

+ [] 사용
+ 임의의 객체를 순차적으로 저장하는 집합 자료형(Sequence Data)
+ 인덱스 사용가능
+ mutable

In [7]:
#a = 10
#b = 11
#c = 12

a, b, c = 10, 11, 12
print(a, b, c)

d = [10, 11, 12]
print(d)

print(type(a), type(d))

print(d[0], d[1], d[2])

e = ["james", 178, 3.14, True] #다른 자료형을 같이 사용할 수 있음
print(e)

10 11 12
[10, 11, 12]
<class 'int'> <class 'list'>
10 11 12
['james', 178, 3.14, True]

In [11]:
# 인덱싱

a = [1, 2, 3, "가", 3.14, ['a', 'b', 'c']]
print(a)
print(a[5])
print(a[5][0])
print(a[-1][-3])

[1, 2, 3, '가', 3.14, ['a', 'b', 'c']]
['a', 'b', 'c']
a
a

In [17]:
# 복사 (얕은 복사, 깊은 복사)

a = [1, 2, 3, 4, 5]
b = a
print(b)

a[0] = 99
print(b)

b[1] = 88
print(a)

print("---------------------------------")

a = [1, 2, 3, 4, 5]
#b = a[0:5]
b = a[:]

a[0] = 99
print(b)

b[1] = 88
print(a)

[1, 2, 3, 4, 5]
[99, 2, 3, 4, 5]
[99, 88, 3, 4, 5]
---------------------------------
[1, 2, 3, 4, 5]
[99, 2, 3, 4, 5]

In [20]:
# list 생성

a = []
b = list()

print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [26]:
# 각 자료형 함수

a = '10'

print(int(a), type(int(a)))
print(str(a), type(str(a)))
print(float(a), type(float(a)))
print(bool(a), type(bool(a)))

print(list(a), type(list(a)))
print(list([a]), type(list([a])))

10 <class 'int'>
10 <class 'str'>
10.0 <class 'float'>
True <class 'bool'>
['1', '0'] <class 'list'>
['10'] <class 'list'>

In [34]:
# list 초기화

a = [1, 2, 3]
print(a)

a = list([1, 2, 3])
print(a)

a = list(range(0, 10))
print(a)

a = list(range(10))
print(a)

a = list(range(0, 10, 1))
print(a)

a = list(range(5, 12))
print(a)

a = list(range(-4, 13))
print(a)

a = list(range(10, 0, -1))
print(a)

[1, 2, 3]
[1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11]
[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
# 연산 기능
a = [1, 2, 3]
b = [4, 5, 6]

print(a + b)
print(a * 3)
print(a[0] + b[2])
print(str(a[1]) + "hi!")
print(a[1], "hi!")

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
7
2hi!
2 hi!

In [50]:
# 추가하기: insert(), append(), extend()

a = [1, 2, 3]
print(a)

a.insert(0, 100)
print(a)

a.append(4)
print(a)

a.extend([5])
print(a)

a.append([6, 7, 8])
print(a)

a.extend([6, 7, 8])
print(a)

a.extend([9, 10, 11])
print(a)

[1, 2, 3]
[100, 1, 2, 3]
[100, 1, 2, 3, 4]
[100, 1, 2, 3, 4, 5]
[100, 1, 2, 3, 4, 5, [6, 7, 8]]
[100, 1, 2, 3, 4, 5, [6, 7, 8], 6, 7, 8]
[100, 1, 2, 3, 4, 5, [6, 7, 8], 6, 7, 8, 9, 10, 11]

In [59]:
# 정렬 기능
a = [1, 4, 3, 2]
print(a)

a.sort() # 원본에서 처리
print(a)

print("--------------------")

a = [1, 4, 3, 2]
print(sorted(a)) # 복사본에서 처리
print(a)

print("--------------------")

a = sorted(a)
print(a)

a.reverse()
print(a)

[1, 4, 3, 2]
[1, 2, 3, 4]
--------------------
[1, 2, 3, 4]
[1, 4, 3, 2]
--------------------
[1, 2, 3, 4]
[4, 3, 2, 1]

In [65]:
# 검색기능: index(), in

a = [1, 2, 3, 4, 5, '홍길동', '111-1111']

print(a.index(4))
print(a.index('홍길동'))
# print(a.index('이순신')) # 예외처리

print(5 in a)
print("홍길동" in a)
print(100 in a)

3
5
True
True
False

In [76]:
# 제거

#범위를 지정해서 제거
a = [1, 2, 3, 1, 2, 3]
print(a[1:3])
a[1:3] = []
print(a)

print("-------------------------")

# 값을 찾아서 삭제
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
print(a)

print("-------------------------")

# 위치를 찾아서 삭제
a = [1, 2, 3, 1, 2, 3]
del a[4]
print(a)

print("-------------------------")

# 전체 데이터 삭제
a = [1, 2, 3, 1, 2, 3]
a[:] = []
print(a)

del a      # 변수 자체를 삭제
#print(a)   # 삭제 되어서 출력 되지 않음

[2, 3]
[1, 1, 2, 3]
-------------------------
[1, 2, 1, 2, 3]
-------------------------
[1, 2, 3, 1, 3]
-------------------------
[]

In [78]:
# 스택(Stack)
a = [1, 2, 3]
b = a.pop()
print(a)
print(b)

[1, 2]
3

### (4) Tuple
+ ( )
+ immutable

In [85]:
a = ('a', 'b', 'c', 'd', 'b')
print(a)
print(type(a))

print(len(a))
print(a.index('c'))
print(a.count('b'))   # 특정 데이터의 개수

print("-------------------------")

#a[1] = 10    # 불가
b = list(a)
b[1] = 10
print(b)

c = tuple(b)
print(c)

('a', 'b', 'c', 'd', 'b')
<class 'tuple'>
5
2
2
-------------------------
['a', 10, 'c', 'd', 'b']
('a', 10, 'c', 'd', 'b')

In [89]:
# packing과 unpacking 

a = 10, 20, 30    # packing
print(a)

a1 = a[0]
a2 = a[1]
a3 = a[2]
print(a1, a2, a3)

print("-------------------------")

a1, a2, a3 = a     # unpacking
print(a1, a2, a3)

(10, 20, 30)
10 20 30
-------------------------
10 20 30

### (3) Dict(Dictionary)

+ 순서가 없다.
+ {키 : 값, ... }
+ 검색 용도
+ mutable

In [2]:
a = {"name": "홍길동", "tel": "111-1111", "age": 25}
print(a)
print(type(a))

{'name': '홍길동', 'tel': '111-1111', 'age': 25}
<class 'dict'>

In [99]:
#a[0]  # 인덱스 사용 불가

print(a["name"], a["tel"], a["age"])

b = a["name"], a["tel"], a["age"]   # packing
print(b)

홍길동 111-1111 25
('홍길동', '111-1111', 25)

In [102]:
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['name', 'tel', 'age'])
dict_values(['홍길동', '111-1111', 25])
dict_items([('name', '홍길동'), ('tel', '111-1111'), ('age', 25)])

In [103]:
# 반복문을 이용한 자동화를 구현
b = list(a.items())
print(b)
print(b[0])
print(b[0][1])

[('name', '홍길동'), ('tel', '111-1111'), ('age', 25)]
('name', '홍길동')
홍길동

In [106]:
# 수정

a['name'] = "임꺽정"
print(a)

#추가
a['hobby'] = ["낚시", "독서", "여행"]
print(a)

{'name': '임꺽정', 'tel': '111-1111', 'age': 25}
{'name': '임꺽정', 'tel': '111-1111', 'age': 25, 'hobby': ['낚시', '독서', '여행']}

In [3]:
# 삭제
del a["tel"]
print(a)

{'name': '홍길동', 'age': 25}

In [4]:
a.clear()
print(a)

{}

In [8]:
#데이터 가져오기: get("키", default)

a = {"name": "홍길동", "tel": "111-1111", "age": 25}

print(a["name"])
print(a.get("name"))

#print(a["hobby"])  # 오류발생
print(a.get("hobby")) # None 반환
print(a.get("hobby", "독서"))  # 기본 값 지정 가능

홍길동
홍길동
None
독서

### (3) Set

+ { }
+ 순서가 없다
+ 중복 불가

In [13]:
a = {1, 2, 3, 4, 2, 4}
print(a)
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [15]:
# print(a[0])    # 이런식으로 접근 불가

b = list(a)
print(b[0])

1

In [17]:
# 집합 연산

s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}

# 합집합
print(s1.union(s2))

# 교집합
print(s1.intersection(s2))

# 차집합
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}

+ CRUD

In [21]:
s1 = {1, 2, 3, 4, 5, 6}

# 여러개 추가
s1.update({7, 8})
print(s1)

# 한 개 추가
s1.add(9)
print(s1)

# 삭제
s1.remove(9)
print(s1)

s1.discard(8)
print(s1)

# s1.remove(10)   # 10이 없어서 에러
s1.discard(10)  # 없어도 그냥 넘어감

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7}

In [23]:
# quiz: 중복제거
data = [1, 2, 3, 4, 4, 5, 2]

data = set(data)
data = list(data)
print(data)

[1, 2, 3, 4, 5]

## 4. Operator

    1) 산술 연산자
        * / + - % //(몫) **(제곱)
        
    2) 비교 연산자
        > < >= <= == !=
        
    3) 논리 연산자
        and, or, not
      
    4) 대입 (치환) 연산자
        = += -= /= *= ...
        
    5) 포함 여부 연산자
        in, not in
        
    6) 비트 연산자
        &, |, ^(XOR), ~, >>, <<, ...

In [28]:
print(10 and 5)

5

In [29]:
print(10 & 5)

0

  0 0 0 0  1 0 1 0   (10)
& 0 0 0 0  0 1 0 1    (5)
-------------------------
  0 0 0 0  0 0 0 0    (0)

In [34]:
original = 648723
key = 387641723

encod = original ^ key
print("암호화:", encod)

print("------------------------------")

decode = encod ^ key
print("복호화:", decode)

암호화: 387127144
------------------------------
복호화: 648723