## 1. 특징

+ 묶음(코드 블럭)
    + 변수(멤버 변수, 속성, 필드), 함수(멤버 함수, 메서드)
    + 여러 개의 함수를 묶어서 좀 더 큰 단위의 모듈로 관리
    
+ 설계도(추상적)
    + 인스턴스, 객체

+ 사용자 정의 자료형

+ 객체의 설계 가이드 : SOLID

+ 객체의 조건
    - 상속성
    - 다형성
    - 캡슐화

## 2. 작성방법

    class 이름:
        변수
        함수
    
    또는
    
    class 이름(...):
        변수
        함수

In [1]:
#### 인스턴스의 생성 방법
class Test:
    a = 10
    def show(self):
        return "Test 클래스"
    
#######################

Test()

In [10]:
##### 사용자 정의 자료형
class Person:
    nation = "한국"
    name = str()
    age = int()
    height = float()
    hobbies = []
    
    def show(self):
        print("국적 : ", self.nation)
        print("이름 : ", self.name)
        print("나이 : ", self.age)
        print("신장 : ", self.height)
        print("취미 : ", self.hobbies)
        print("\n---------------------------------")

##############################################

p1 = Person()
p2 = Person()
p3 = Person()

p1.name = "홍길동"
p1.age = 20
p1.height = 170
p1.hobbies = ["독서", "여행"]

p2.nation = "프랑스"
p2.name = "시몽"
p2.age = 25
p2.height = 168
p2.hobbies = ["독서", "우표수집", "음악감상"]

p3.nation = "독일"
p3.name = "괴테"
p3.age = 30
p3.height = 175
p3.hobbies = ["낚시"]

p1.show()
p2.show()
p3.show()

data = [p1, p2, p3]
for p in data:
    p.show()

국적 :  한국
이름 :  홍길동
나이 :  20
신장 :  170
취미 :  ['독서', '여행']

---------------------------------
국적 :  프랑스
이름 :  시몽
나이 :  25
신장 :  168
취미 :  ['독서', '우표수집', '음악감상']

---------------------------------
국적 :  독일
이름 :  괴테
나이 :  30
신장 :  175
취미 :  ['낚시']

---------------------------------
국적 :  한국
이름 :  홍길동
나이 :  20
신장 :  170
취미 :  ['독서', '여행']

---------------------------------
국적 :  프랑스
이름 :  시몽
나이 :  25
신장 :  168
취미 :  ['독서', '우표수집', '음악감상']

---------------------------------
국적 :  독일
이름 :  괴테
나이 :  30
신장 :  175
취미 :  ['낚시']

---------------------------------

(1) self
+ 현재 사용중인 객체의 주소를 저장하고 있는 참조 변수
+ read only

In [17]:
class Test:
    a = int()
    b = float()
    c = str()
    
    def setValue(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    
    def show(self):
        print(self.a, self.b, self.c)
        print("현재 주소 : ", id(self))
        
###################

t1 = Test()
t2 = Test()
t3 = Test()

t1.setValue(10, 10.0, "홍길동")
t1.show()
print("----------------------")
t2.a = 20
t2. b = 20.0
t2.c = "이순신"
t2.show()
print("----------------------")
t3.a = 30
t3. b = 30.0
t3.c = "유관순"
t3.show()
print("----------------------")

10 10.0 홍길동
현재 주소 :  2687948586192
----------------------
20 20.0 이순신
현재 주소 :  2687948584992
----------------------
30 30.0 유관순
현재 주소 :  2687921495728
----------------------

### (2) 생성자(Constructor)와 소멸자(Deconstructor)

+ 매서드
+ 객체를 생성하는 용도
+ 생성자릐 경우 객체를 처음 만들 때 호출된다. (단 한번만 호출)
+ 초기화

In [28]:
class Test:
    a = int()
    b = str()
    
    def __init__(self, a=0, b=None):
        print("생성자 호출")
        self.a = a
        self.b = b
    
    def setVal(self, a, b):
        self.a = a
        self.b = b
        
    def __del__(self):
        print("소멸자 호출")
        
#####################################
t1 = Test()
print(t1.a, t1.b)

t2 = Test(100)
print(t2.a, t2.b)

t3 = Test("홍길동")
print(t3.a, t3.b)

t4 = Test(200, "임꺽정")
print(t4.a, t4.b)

생성자 호출
0 None
생성자 호출
100 None
생성자 호출
홍길동 None
생성자 호출
200 임꺽정

In [29]:
del t4

소멸자 호출

### (3) Static

+ 인스턴스와 구별
+ 동일한 공간을 모든 객체들이 공동으로 사용
+ 정정(클래스) 변수, 정적(클래스) 매서드

In [35]:
class Person:
    nation = "한국"
    name = str()
    age = int()
    height = float()
    hobbies = []
    company = str()
    
    def show(self):
        print("국적 : ", self.nation)
        print("이름 : ", self.name)
        print("나이 : ", self.age)
        print("신장 : ", self.height)
        print("취미 : ", self.hobbies)
        print("회사명 : ", Person.company)
        print("---------------------------------")
    
    @staticmethod
    def funcCompany():
        Person.company = "파이썬 주식회사"
        return "회사명: " + Person.company
        
        
#####################################
#Person.company = "(주)파이썬"

p1 = Person()
p2 = Person()
p3 = Person()

p1.name = "홍길동"
p1.age = 20
p1.height = 170
p1.hobbies = ["독서", "여행"]

p2.nation = "프랑스"
p2.name = "시몽"
p2.age = 25
p2.height = 168
p2.hobbies = ["독서", "우표수집", "음악감상"]

p3.nation = "독일"
p3.name = "괴테"
p3.age = 30
p3.height = 175
p3.hobbies = ["낚시"]

data = [p1, p2, p3]
for p in data:
    print(Person.funcCompany())
    p.show()

국적 :  한국
이름 :  홍길동
나이 :  20
신장 :  170
취미 :  ['독서', '여행']
회사명 :
---------------------------------
회사명: 파이썬 주식회사
국적 :  프랑스
이름 :  시몽
나이 :  25
신장 :  168
취미 :  ['독서', '우표수집', '음악감상']
회사명 :  파이썬 주식회사
---------------------------------
회사명: 파이썬 주식회사
국적 :  독일
이름 :  괴테
나이 :  30
신장 :  175
취미 :  ['낚시']
회사명 :  파이썬 주식회사
---------------------------------
회사명: 파이썬 주식회사

In [43]:
##### 객체의 수를 카운팅

class Counter:
    m_cnt = 0
    
    def __init__(self):
        Counter.m_cnt += 1

    @staticmethod
    def printCount():
        print("총 객체의 수 : ", Counter.m_cnt)

#################################

a, b, c, = Counter(), Counter(), Counter()

a.printCount()   # 총 객체의 수 : 3
b.printCount()   # 총 객체의 수 : 3
c.printCount()   # 총 객체의 수 : 3

Counter.printCount()

총 객체의 수 :  3
총 객체의 수 :  3
총 객체의 수 :  3
총 객체의 수 :  3

e1 = Employee(1111, "홍길동", 1000000, ["여행", "낚시", "운동"])
e1.display()

결과 :
    사번 : 1111
    이름 : 홍길동
    급여 : 1000000
    취미 : 여행, 낚시, 운동
    
e2 = Employee(1112, "임꺽정", 1200000, ["자전거", "볼링"])
e3 = Employee(1113, "신돌석", 1400000, ["독서"])

total = Employee.getCount()
print("인원수 : ", total)

# 데이터 수정
e3.setSalary(2000000)
e3.appendHobby("피아노", "드론")
e3.display()

결과 :
    사번 : 1113
    이름 : 신돌석
    급여 : 2000000
    취미 : 독서, 피아노, 드론

In [48]:
class Employee:
    m_cnt = 0
    empno = int()
    name = str()
    salary = int()
    hobbies = []
    
    def __init__(self, empno=0, name=None, salary=0, hobbies=None):
        Employee.m_cnt += 1
        self.empno = empno
        self.name = name
        self.salary = salary
        self.hobbies = hobbies
    
    def display(self):
        print("사번 : ", self.empno)
        print("이름 : ", self.name)
        print("급여 : ", self.salary)
        print("취미 : ", self.hobbies)
        print("---------------------------------")
        
    @staticmethod
    def getCount():
        return Employee.m_cnt
    
    def setSalary
        
e1 = Employee(1111, "홍길동", 1000000, ["여행", "낚시", "운동"])
e1.display()

e2 = Employee(1112, "임꺽정", 1200000, ["자전거", "볼링"])
e3 = Employee(1113, "신돌석", 1400000, ["독서"])

total = Employee.getCount()
print("인원수 : ", total)

print("---------------------------------")

사번 :  1111
이름 :  홍길동
급여 :  1000000
취미 :  ['여행', '낚시', '운동']
---------------------------------
인원수 :  3
---------------------------------