## 1. 특징

+ 묶음(코드 블럭)
    + 변수(멤버 변수, 속성, 필드), 함수(멤버 함수, 메서드)
    + 여러 개의 함수를 묶어서 좀 더 큰 단위의 모듈로 관리
    
+ 설계도(추상적)
    + 인스턴스, 객체

+ 사용자 정의 자료형

+ 객체의 설계 가이드 : SOLID

+ 객체의 조건
    - 상속성
    - 다형성
    - 캡슐화

## 2. 작성방법

    class 이름:
        변수
        함수
    
    또는
    
    class 이름(...):
        변수
        함수

In [1]:
#### 인스턴스의 생성 방법
class Test:
    a = 10
    def show(self):
        return "Test 클래스"
    
#######################

Test()

In [10]:
##### 사용자 정의 자료형
class Person:
    nation = "한국"
    name = str()
    age = int()
    height = float()
    hobbies = []
    
    def show(self):
        print("국적 : ", self.nation)
        print("이름 : ", self.name)
        print("나이 : ", self.age)
        print("신장 : ", self.height)
        print("취미 : ", self.hobbies)
        print("\n---------------------------------")

##############################################

p1 = Person()
p2 = Person()
p3 = Person()

p1.name = "홍길동"
p1.age = 20
p1.height = 170
p1.hobbies = ["독서", "여행"]

p2.nation = "프랑스"
p2.name = "시몽"
p2.age = 25
p2.height = 168
p2.hobbies = ["독서", "우표수집", "음악감상"]

p3.nation = "독일"
p3.name = "괴테"
p3.age = 30
p3.height = 175
p3.hobbies = ["낚시"]

p1.show()
p2.show()
p3.show()

data = [p1, p2, p3]
for p in data:
    p.show()

국적 :  한국
이름 :  홍길동
나이 :  20
신장 :  170
취미 :  ['독서', '여행']

---------------------------------
국적 :  프랑스
이름 :  시몽
나이 :  25
신장 :  168
취미 :  ['독서', '우표수집', '음악감상']

---------------------------------
국적 :  독일
이름 :  괴테
나이 :  30
신장 :  175
취미 :  ['낚시']

---------------------------------
국적 :  한국
이름 :  홍길동
나이 :  20
신장 :  170
취미 :  ['독서', '여행']

---------------------------------
국적 :  프랑스
이름 :  시몽
나이 :  25
신장 :  168
취미 :  ['독서', '우표수집', '음악감상']

---------------------------------
국적 :  독일
이름 :  괴테
나이 :  30
신장 :  175
취미 :  ['낚시']

---------------------------------

(1) self
+ 현재 사용중인 객체의 주소를 저장하고 있는 참조 변수
+ read only

In [17]:
class Test:
    a = int()
    b = float()
    c = str()
    
    def setValue(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    
    def show(self):
        print(self.a, self.b, self.c)
        print("현재 주소 : ", id(self))
        
###################

t1 = Test()
t2 = Test()
t3 = Test()

t1.setValue(10, 10.0, "홍길동")
t1.show()
print("----------------------")
t2.a = 20
t2. b = 20.0
t2.c = "이순신"
t2.show()
print("----------------------")
t3.a = 30
t3. b = 30.0
t3.c = "유관순"
t3.show()
print("----------------------")

10 10.0 홍길동
현재 주소 :  2687948586192
----------------------
20 20.0 이순신
현재 주소 :  2687948584992
----------------------
30 30.0 유관순
현재 주소 :  2687921495728
----------------------

### (2) 생성자(Constructor)와 소멸자(Deconstructor)

+ 매서드
+ 객체를 생성하는 용도
+ 생성자릐 경우 객체를 처음 만들 때 호출된다. (단 한번만 호출)
+ 초기화

In [28]:
class Test:
    a = int()
    b = str()
    
    def __init__(self, a=0, b=None):
        print("생성자 호출")
        self.a = a
        self.b = b
    
    def setVal(self, a, b):
        self.a = a
        self.b = b
        
    def __del__(self):
        print("소멸자 호출")
        
#####################################
t1 = Test()
print(t1.a, t1.b)

t2 = Test(100)
print(t2.a, t2.b)

t3 = Test("홍길동")
print(t3.a, t3.b)

t4 = Test(200, "임꺽정")
print(t4.a, t4.b)

생성자 호출
0 None
생성자 호출
100 None
생성자 호출
홍길동 None
생성자 호출
200 임꺽정

In [29]:
del t4

소멸자 호출

### (3) Static

+ 인스턴스와 구별
+ 동일한 공간을 모든 객체들이 공동으로 사용
+ 정정(클래스) 변수, 정적(클래스) 매서드

In [35]:
class Person:
    nation = "한국"
    name = str()
    age = int()
    height = float()
    hobbies = []
    company = str()
    
    def show(self):
        print("국적 : ", self.nation)
        print("이름 : ", self.name)
        print("나이 : ", self.age)
        print("신장 : ", self.height)
        print("취미 : ", self.hobbies)
        print("회사명 : ", Person.company)
        print("---------------------------------")
    
    @staticmethod
    def funcCompany():
        Person.company = "파이썬 주식회사"
        return "회사명: " + Person.company
        
        
#####################################
#Person.company = "(주)파이썬"

p1 = Person()
p2 = Person()
p3 = Person()

p1.name = "홍길동"
p1.age = 20
p1.height = 170
p1.hobbies = ["독서", "여행"]

p2.nation = "프랑스"
p2.name = "시몽"
p2.age = 25
p2.height = 168
p2.hobbies = ["독서", "우표수집", "음악감상"]

p3.nation = "독일"
p3.name = "괴테"
p3.age = 30
p3.height = 175
p3.hobbies = ["낚시"]

data = [p1, p2, p3]
for p in data:
    print(Person.funcCompany())
    p.show()

국적 :  한국
이름 :  홍길동
나이 :  20
신장 :  170
취미 :  ['독서', '여행']
회사명 :
---------------------------------
회사명: 파이썬 주식회사
국적 :  프랑스
이름 :  시몽
나이 :  25
신장 :  168
취미 :  ['독서', '우표수집', '음악감상']
회사명 :  파이썬 주식회사
---------------------------------
회사명: 파이썬 주식회사
국적 :  독일
이름 :  괴테
나이 :  30
신장 :  175
취미 :  ['낚시']
회사명 :  파이썬 주식회사
---------------------------------
회사명: 파이썬 주식회사

In [43]:
##### 객체의 수를 카운팅

class Counter:
    m_cnt = 0
    
    def __init__(self):
        Counter.m_cnt += 1

    @staticmethod
    def printCount():
        print("총 객체의 수 : ", Counter.m_cnt)

#################################

a, b, c, = Counter(), Counter(), Counter()

a.printCount()   # 총 객체의 수 : 3
b.printCount()   # 총 객체의 수 : 3
c.printCount()   # 총 객체의 수 : 3

Counter.printCount()

총 객체의 수 :  3
총 객체의 수 :  3
총 객체의 수 :  3
총 객체의 수 :  3

In [3]:
"""
e1 = Employee(1111, "홍길동", 1000000, ["여행", "낚시", "운동"])
e1.display()

결과 :
    사번 : 1111
    이름 : 홍길동
    급여 : 1000000
    취미 : 여행, 낚시, 운동
    
e2 = Employee(1112, "임꺽정", 1200000, ["자전거", "볼링"])
e3 = Employee(1113, "신돌석", 1400000, ["독서"])

total = Employee.getCount()
print("인원수 : ", total)

# 데이터 수정
e3.setSalary(2000000)
e3.appendHobby("피아노", "드론")
e3.display()

결과 :
    사번 : 1113
    이름 : 신돌석
    급여 : 2000000
    취미 : 독서, 피아노, 드론
"""

'\ne1 = Employee(1111, "홍길동", 1000000, ["여행", "낚시", "운동"])\ne1.display()\n\n결과 :\n    사번 : 1111\n    이름 : 홍길동\n    급여 : 1000000\n    취미 : 여행, 낚시, 운동\n    \ne2 = Employee(1112, "임꺽정", 1200000, ["자전거", "볼링"])\ne3 = Employee(1113, "신돌석", 1400000, ["독서"])\n\ntotal = Employee.getCount()\nprint("인원수 : ", total)\n\n# 데이터 수정\ne3.setSalary(2000000)\ne3.appendHobby("피아노", "드론")\ne3.display()\n\n결과 :\n    사번 : 1113\n    이름 : 신돌석\n    급여 : 2000000\n    취미 : 독서, 피아노, 드론\n'

In [55]:
class Employee:
    m_cnt = 0
    empno = int()
    name = str()
    salary = int()
    hobbies = []
    
    def __init__(self, empno=0, name=None, salary=0, hobbies=None):
        Employee.m_cnt += 1
        self.empno = empno
        self.name = name
        self.salary = salary
        self.hobbies = hobbies
    
    def display(self):
        print("사번 : ", self.empno)
        print("이름 : ", self.name)
        print("급여 : ", self.salary)
        print("취미 : ", self.hobbies)
        print("---------------------------------")
        
    @staticmethod
    def getCount():
        return Employee.m_cnt
    
    def setSalary(self, salary):
        self.salary = salary
        
    def appendHobby(self, *hobby):
        for i in hobby:
            self.hobbies.append(i)
        
e1 = Employee(1111, "홍길동", 1000000, ["여행", "낚시", "운동"])
e1.display()

e2 = Employee(1112, "임꺽정", 1200000, ["자전거", "볼링"])
e3 = Employee(1113, "신돌석", 1400000, ["독서"])

total = Employee.getCount()
print("인원수 : ", total)

print("---------------------------------")

e3.setSalary(2000000)
e3.appendHobby("피아노", "드론")
e3.display()

사번 :  1111
이름 :  홍길동
급여 :  1000000
취미 :  ['여행', '낚시', '운동']
---------------------------------
인원수 :  3
---------------------------------
사번 :  1113
이름 :  신돌석
급여 :  2000000
취미 :  ['독서', '피아노', '드론']
---------------------------------

In [1]:
"""
"""

'\n'

### (4) 원래 설계된 멤버변수외에 객체별로 멤버변수를 추가할 수 있다.

In [2]:
class Test:
    a = 0
    
    def display(self):
        print(self.a)

In [4]:
ob1 = Test()
ob1.display()

ob2 = Test()
ob2.display()

ob1.a = 100
ob2.b = "홍길동"

print(ob2.b)

0
0
홍길동

AttributeError: 'Test' object has no attribute 'b'

### (5)  '_'와 ' __'
+ 기본 인터프리터에서 사용(마지막으로 사용된 결과값 불러올때) : _
+ 값을 무시 : _

In [10]:
a, b, c = (10, 20, 30)
print(b, c)

_, b, c = (10, 20, 30)
print(b, c)

a, _, _ = (10, 20, 30)
print(a)

a, _, _, _, _, _, b = (10, 20, 30, 40, 50, 60, 70)
print(a, b)

a, *_, b = (10, 20, 30, 40, 50, 60, 70)
print(a, b)

20 30
20 30
10
10 70
10 70

In [26]:
class Test:
    str1 = "안녕하세요~~"
    _str2 = "이것은 조심스러운 값입니다."
    __str3 = "이것은 사용하면 안돼"
    
    def setStr3(self, a):
        self.__str3 = a
        
    def getStr3(self):
        return self.__str3

In [28]:
ob1 = Test()
print(ob1.str1)

print(ob1._str2)

# print(ob1.__str3)
print(ob1._Test__str3)
ob1._Test__str3 = "임꺽정입니다."
print(ob1._Test__str3)

print("--------------------------")

print(ob1.getStr3())
ob1.setStr3("신돌석입니다.")
print(ob1.getStr3())

안녕하세요~~
이것은 조심스러운 값입니다.
이것은 사용하면 안돼
임꺽정입니다.
--------------------------
임꺽정입니다.
신돌석입니다.

### (6) 상속
+ 상속 설계 시 고려할 점
    + 부모 클래스는 최소한의 코드로 작성(모든 자식들이 공통적으로 필요로 하는 것으로 구성
    + 상속받는 자식 클래스는 반드시 기능을 확장(추가)시켜야 한다.
    + 중복된 기능이 있어서는 안된다.

In [34]:
class Calculator:
    first = 0
    second = 0
    
    def __init__(self, first=None, second=None):
        self.first = first
        self.second = second
        
    def setData(self, first=None, second=None):
        self.first = first
        self.second = second
        
    def sum(self):
        return self.first + self.second
    
    def div(self):
        return self.first / self.second
    
    def mul(self):
        return self.first * self.second
    
    def sub(self):
        return self.first - self.second

class CalculatorV2(Calculator):
    def pow(self):
        return self.first ** self.second

In [36]:
cal1 = Calculator()
cal1.setData(10, 20)
print(cal1.sum())

cal2 = CalculatorV2()
cal2.setData(2, 10)
print(cal2.sum())
print(cal2.pow())

30
12
1024

+ 자식이 부모에게 접근해야 하는 경우

In [38]:
class Person:
    say = "난 사람이다."
    age = 20
    def info(self):
        print("나이:{}, 하고싶은 말: {}".format(self.age, self.say))
        
    def __init__(self):
        print("Person 클래스")

class Employee(Person):
    def __init__(self):
        print("Employee 클래스")
        
    say = "난 회사원이다."
    
    def info(self):
        print(self.say)
        print(self.age)
        print(super().say)
        super.info()

In [39]:
e1 = Employee()
e1.info()

Employee 클래스
난 회사원이다.
20

### (7) object
+ 파이썬 클래스들 중에서 가장 상위 클래스

In [40]:
print(dir(object))

['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

### (8) 고급 함수

#### 1) 변수의 생존 범위 : global, nonlocal

In [47]:
a = 100

def kbs1():
    a = 1
    
    def kbs2():
        global a
        a = 2
        print("kbs2 : ", a)
    
    print("kbs1 : ", a)
    kbs2()
##############################
print(a)
kbs1()
print(a)

100
kbs1 :  1
kbs2 :  2
2

#### 2) 클로저(Closer)
+ 함수 밖에서 임의의 함수 안에 선언된 지역변수를 계속 참조할 수 있게 하는 방법

In [57]:


def out():
    count = 0
    def inn():
        
        nonlocal count
        count += 1
        print(count)
        
    return inn
    
##############################

#out()
#out()
#out()

a = out()
a()
a()
a()

print("--------------------------")

b = out()
b()
b()
b()

1
2
3
--------------------------
1
2
3

In [62]:
def outer(tax):
    def inner(su, dan):
        amount = su * dan * tax
        return amount
    
    return inner

tax_rate = outer(0.1)
mouse = tax_rate(5, 5000)
print(mouse)

keyboard = tax_rate(10, 10000)
print(keyboard)

tax_rate2 = outer(0.05)
keyboard = tax_rate2(10, 10000)
print(keyboard)

2500.0
10000.0
5000.0

#### 3) 람다 함수(무명 함수, 익명 함수)

In [63]:
def hap(x, y):
    return x + y

#############################

result = hap(10, 20)
print(result)

30

In [65]:
result = (lambda x, y: x + y)(10, 20)
print(result)

30

In [66]:
add = lambda x, y: x + y
result = add(20, 30)
print(result)

50

In [69]:
def func_test(a, *b, **c):
    print(a, b, c)

#############################

func_test(1, 2, 3, 4, 5, m=6, n=7, o=8)

1 (2, 3, 4, 5) {'m': 6, 'n': 7, 'o': 8}

In [70]:
(lambda a, *b, **c : print(a, b, c))(1, 2, 3, 4, 5, m=6, n=7, o=8)

1 (2, 3, 4, 5) {'m': 6, 'n': 7, 'o': 8}

In [77]:
ex = [1, 2, 3, 4, 5]

def func_test(x):
    if x % 2 == 0:
        return x ** 2
    else:
        return x

############################

result = []
for i in ex:
    result.append(func_test(i))
    
print(result)

############################

list(map(func_test, ex))

############################

list(map((lambda x : x**2 if x %2 == 0 else x), ex))

[1, 4, 3, 16, 5]

[1, 4, 3, 16, 5]

#### 4) 함수 장식자(decorator)

+ 일종의 함수 감싸기(wrapping)를 해주는 디자인 패턴
+ 메타 프로그래밍 기법
+ @staticmethod, @classmethod, @abstract, ...