## 1. 입력기능

In [5]:
name = input("이름을 입력 : ")

이름을 입력 : 홍길동

In [6]:
print("당신의 이름은", name, "입니다")

당신의 이름은 홍길동 입니다

In [10]:
num1 = int(input("첫번째 숫자 : "))
num2 = int(input("두번째 숫자 : "))

print("결과 : ", num1 + num2)

첫번째 숫자 : 66
두번째 숫자 : 123
결과 :  189

## 2. 조건문: If

    1) 첫번째 유형
        if 조건식 :
            코드
            ...
            
    2) 두번째 유형
        if 조건식 :
            코드
            ...
        else :
            코드
            ...
                        
    3) 세번째 유형
        if 조건식 :
            코드
            ...
        elif 조건식 :
            코드
            ...
        elif 조건식 :
            코드
            ...
        ...
        [else :
            코드
            ...]

In [13]:
# 입력받은 값이 a, b, c, d이면 "정답" 이라고 출력하고 그렇지 않으면 "오답" 이라고 출력 

temp = input("값을 입력 : ")
result = "정답"
if temp == 'a':
    print(result)
elif temp == 'b':
    print(result)
elif temp == 'c':
    print(result)
elif temp == 'd':
    print(result)
else:
    print("오답")

값을 입력 : e
오답

In [14]:
"""
윤년 계산 프로그램
---------------------
"""

'\n윤년 계산 프로그램\n---------------------\n'

In [18]:
result=""
year = int(input("연도를 입력 : "))
if(year % 4 == 0) :
    if(year % 100 == 0) :
        if(year % 400 == 0) :
            result = "윤년"
        else:
            result = "평년"
    else:
        result = "윤년"
print(result)

연도를 입력 : 1900
평년

In [24]:
op = input("연산자 : ")
num1 = int(input("숫자1 : "))
num2 = int(input("숫자2 : "))

result = 0

if op == '+':
    result = num1 + num2
elif op == '-':
    result = num1 - num2
elif op == '*':
    result = num1 * num2
elif op == '/':
    result = num1 / num2

print("결과 :", result )

연산자 : ㅣㅢ
숫자1 : 1
숫자2 : 3
올바른 연산자를 입력해 주세요
결과 : 0

In [32]:
# 가위: 0, 바위: 1, 보: 2 

import random
com = random.randint(0, 2)
user = input("(가위, 바위, 보) 중에서 하나를 입력 :")

com_s = ""
result = ""
if com == 0:
    com_s = "가위"
    if(user == "가위") :
        result = "비겼습니다"
    elif(user == "바위") :
        result = "사용자 승"
    elif(user == "보") :
        result = "컴퓨터 승"
elif com == 1:
    com_s = "바위"
    if(user == "가위") :
        result = "컴퓨터 승"
    elif(user == "바위") :
        result = "비겼습니다"
    elif(user == "보") :
        result = "사용자 승"
elif com == 2:
    com_s = "보"
    if(user == "가위") :
        result = "사용자 승"
    elif(user == "바위") :
        result = "컴퓨터 승"
    elif(user == "보") :
        result = "비겼습니다"

print("컴퓨터 :", com_s, ",", "사용자 :", user)
print("결과 :", result)

(가위, 바위, 보) 중에서 하나를 입력 :가위
컴퓨터 : 바위 , 사용자 : 가위
결과 : 컴퓨터 승

## 3. 반복문
    while 조건식 :
        코드
        ...

In [34]:
# *을 10개 출력
print("**********")
print("*" * 10)

print("-------------------")

cnt = 0
while cnt < 10:
    print("*", end="")
    cnt += 1

**********
**********
-------------------
**********

In [38]:
# 1부터 10까지의 합계: 55

cnt = 0
sum = 0

while cnt < 10:
    cnt += 1
    sum += cnt
    

print(sum)

55

In [39]:
#2의 10승을 구해라 : 1024
cnt = 0
sum = 1

while cnt < 10:
    sum *= 2
    cnt += 1
    
print(sum)

1024

### (2) for
    for 변수 in 집합 자료형 :
            코드
            ...

In [46]:
data = [10, 20, "홍길동", 3.14, True]

cnt = 0
while cnt < len(data):
    print(data[cnt])
    cnt += 1
    
print("----------------------------")

for a in data:
    print(a)
    
print("----------------------------")   

for v in [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]:
    print("*", end="")
    
print("\n----------------------------")  

for v in range(10):
    print("*", end="")

10
20
홍길동
3.14
True
----------------------------
10
20
홍길동
3.14
True
----------------------------
**********
----------------------------
**********